.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}


@media (max-width: 620px) {
    .logo {
        font-size: 12px;
        gap: 12px;
    }
}